<div class="flex items-center justify-center">

  <div class="w-full px-8">
    <form [formGroup]="form" autocomplete="off">
      <app-stepper [currentStep]="current_step"></app-stepper>
      <div class="xl:px-16 mx-12">
        <section *ngIf="current_step === 1">
          <div class="mt-8 lg:flex justify-between border-b border-gray-200 pb-12">
            <div class="w-80">
              <div class="flex items-center">
                <h1 tabindex="0" class="focus:outline-none text-xl font-medium pr-2 leading-5 text-gray-800">Client
                  Information</h1>
              </div>
              <p tabindex="0" class="focus:outline-none mt-4 text-sm leading-5 text-gray-600">Information about the
                section could go here and a brief description of how this might be used.</p>
            </div>
            <div formGroupName="client_section">
              <div class="md:flex items-center lg:ml-24 lg:mt-0 mt-4">
                <div class="md:w-64">
                  <label class="text-sm leading-none text-gray-800" for="name">Company name</label>
                  <div class="form-control-feedback"
                       *ngIf="name?.errors && (name?.dirty || name?.touched)">
                    <p class="text-sm text-red-700" *ngIf="name?.hasError('required')">Company name is required</p>
                    <p class="text-sm text-red-700" *ngIf="name?.hasError('pattern')">Wrong name format</p>
                  </div>
                  <ng-autocomplete id="name" [data]="clients_name" [initialValue]="" formControlName="name"
                                   placeholder="Type Company Name" notFoundText="Not found"
                                   [itemTemplate]="itemTemplateStatic"
                                   [notFoundTemplate]="notFoundTemplate"></ng-autocomplete>
                  <ng-template #itemTemplateStatic let-item><a [innerHTML]="item"></a></ng-template>
                  <ng-template #notFoundTemplate let-notFound>
                    <div [innerHTML]="notFound"></div>
                  </ng-template>
                </div>
                <div class="md:w-64 md:ml-12 md:mt-0 mt-4">
                  <label class="text-sm leading-none text-gray-800" for="tax_number">Tax Number</label>
                  <div class="form-control-feedback"
                       *ngIf="tax_number?.errors && (tax_number?.dirty || tax_number?.touched)">
                    <p class="text-sm text-red-700" *ngIf="tax_number?.hasError('required')">Tax number is required</p>
                    <p class="text-sm text-red-700" *ngIf="tax_number?.hasError('pattern')">Tax number hast to contain only numbers</p>
                  </div>
                  <input type="text" tabindex="0"
                         class="w-full p-3 mt-3 bg-gray-100 border rounded border-gray-200 focus:outline-none focus:border-gray-600 text-sm font-medium leading-none text-gray-800"
                         formControlName="tax_number" name="tax_number" id="tax_number" placeholder="0000000000"/>
                </div>
              </div>
              <div class="md:flex items-center lg:ml-24 mt-8">
                <div class="md:w-64">
                  <label class="text-sm leading-none text-gray-800" for="email">Email address</label>
                  <div class="form-control-feedback"
                       *ngIf="email?.errors && (email?.dirty || email?.touched)">
                    <p class="text-sm text-red-700" *ngIf="email?.hasError('required')">Email is required</p>
                    <p class="text-sm text-red-700" *ngIf="email?.hasError('email')">The email address must contain at least the @ character</p>
                  </div>
                  <input type="email" tabindex="0"
                         class="w-full p-3 mt-3 bg-gray-100 border rounded border-gray-200 focus:outline-none focus:border-gray-600 text-sm font-medium leading-none text-gray-800"
                         formControlName="email" name="email" id="email" placeholder="youremail@example.com"/>
                </div>
                <div class="md:w-64 md:ml-12 md:mt-0 mt-4">
                  <label class="text-sm leading-none text-gray-800" for="phone">Phone number</label>
                  <div class="form-control-feedback"
                       *ngIf="phone?.errors && (phone?.dirty || phone?.touched)">
                    <p class="text-sm text-red-700" *ngIf="phone?.hasError('required')">Phone is required</p>
                    <p class="text-sm text-red-700" *ngIf="phone?.hasError('pattern')">Wrong pattern number</p>
                  </div>
                  <input type="text" tabindex="0"
                         class="w-full p-3 mt-3 bg-gray-100 border rounded border-gray-200 focus:outline-none focus:border-gray-600 text-sm font-medium leading-none text-gray-800"
                         formControlName="phone" name="phone" id="phone" placeholder="123-1234567"/>
                </div>
              </div>
            </div>
          </div>
          <div class="mt-8  lg:flex justify-between border-b border-gray-200 pb-12">
            <div class="w-80">
              <div class="flex items-center">
                <h1 tabindex="0" class="focus:outline-none text-xl font-medium pr-2 leading-5 text-gray-800">Client address</h1>
              </div>
              <p tabindex="0" class="focus:outline-none mt-4 text-sm leading-5 text-gray-600">Information about the
                section could go here and a brief description of how this might be used.</p>
            </div>
            <div>
              <app-address-form-group [countries]="countries" [form]="client_address" [is_updatable]="false"></app-address-form-group>
            </div>
          </div>
        </section>
        <section *ngIf="current_step === 2">
          <div>
            <div class="flex items-center">
              <h1 tabindex="0" class="focus:outline-none text-xl font-medium pr-2 leading-5 text-gray-800">Pickup Time</h1>
            </div>
            <div>
              <app-date-picker [form]="time_section"></app-date-picker>
            </div>
          </div>
          <div>
            <div class="flex items-center">
              <h1 tabindex="0" class="focus:outline-none text-xl font-medium pr-2 leading-5 text-gray-800">Pickup & Drop Address</h1>
            </div>
            <p tabindex="0" class="focus:outline-none mt-4 text-sm leading-5 text-gray-600">Information about the
              section could go here and a brief description of how this might be used.</p>
          </div>
          <div class="mt-8 lg:flex justify-between border-b border-gray-200 pb-6">

            <div class="flex flex-wrap">
              <div class="w-full">
                <ul class="flex mb-0 list-none flex-wrap pt-3 pb-4 flex-row">
                  <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
                    <a class="text-xs font-bold uppercase px-5 py-3 rounded block leading-normal cursor-pointer"
                       (click)="toggleTabs(1)"
                       [ngClass]="{'text-indigo-700 bg-white border border-indigo-700': currentTab !== 1, 'text-white bg-indigo-700': currentTab === 1}">
                      <i class="fas fa-space-shuttle text-base mr-1"></i> Origin and destination
                    </a>
                  </li>
                  <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
                    <a class="text-xs font-bold uppercase px-5 py-3 rounded block leading-normal cursor-pointer"
                       (click)="toggleTabs(2)"
                       [ngClass]="{'text-indigo-700 bg-white border border-indigo-700': currentTab !== 2, 'text-white bg-indigo-700': currentTab === 2}">
                      <i class="fas fa-cog text-base mr-1"></i> Additional stops
                    </a>
                  </li>
                </ul>
                <div class="relative flex flex-col bg-white w-full mb-6 rounded">
                  <div class="px-4 py-5 flex-auto">
                    <div class="tab-content tab-space">
                      <div [ngClass]="{'hidden': currentTab !== 1, 'block': currentTab === 1}">
                        <div class="container mx-auto grid sm:grid-cols-1 md:grid-cols-2 pt-6 gap-8">
                          <div>
                            <h2 tabindex="0"
                                class="focus:outline-none text-xl mx-auto font-medium pr-2 leading-5 text-gray-800">
                              Pickup Address</h2>
                            <app-address-form-group [countries]="countries"
                                                    [form]="pickup_address_form"></app-address-form-group>
                          </div>
                          <div>
                            <h2 tabindex="0"
                                class="focus:outline-none text-xl mx-auto font-medium pr-2 leading-5 text-gray-800">
                              Drop Address</h2>
                            <app-address-form-group [countries]="countries"
                                                    [form]="destination_address_form"></app-address-form-group>
                          </div>
                        </div>
                      </div>
                      <div [ngClass]="{'hidden': currentTab !== 2, 'block': currentTab === 2}">
                        <app-address-form-array [form]="form" [formArray]="address_row"
                                                [countries]="countries"></app-address-form-array>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section *ngIf="current_step === 3">
          <app-load-section [formArray]="cargo_row" [form]="form"></app-load-section>
        </section>
        <section *ngIf="current_step === 4">
          <div *ngIf="route | async as route">
            <app-set-selection [cargo]="selectedCargo" [duration]="route!.duration" [addresses]="allAddresses"
                               [startDate]="carriageStartTime" [changePage]="change_page"
                               (setEmitter)="handleSets($event)"></app-set-selection>
          </div>
        </section>
        <section *ngIf="current_step === 5">
          <div *ngIf="route | async as route">
            <app-submit-panel [route]="route!" [pickupAddress]="pickupAddress!" [dropAddress]="dropAddress!"
                              [startDate]="carriageStartTime" [sets]="sets" [client]="getClientOrCreate()"
            ></app-submit-panel>
          </div>
        </section>
        <div class="mt-2 lg:flex justify-between border-b border-gray-200">
          <div class="w-80"></div>
          <div class="md:flex items-center lg:ml-24">
            <div *ngIf="!last_page"
                 class="fixed bottom-0 w-screen left-0 p-5 text-base flex justify-between bg-neutral-white xl:relative xl:p-0 xl:mb-5 xl:min-w-[28.125rem] xl:max-w-[28.125rem]"
                 [ngClass]="{ 'flex-row-reverse': current_step === 1 }">

              <button role="button" aria-label="Previous step"
                      class="flex items-center justify-center py-4 px-7 focus:outline-none bg-white border rounded border-gray-400 mt-7 md:mt-14 hover:bg-gray-100  focus:ring-2 focus:ring-offset-2 focus:ring-gray-700"
                      *ngIf="current_step >= 2" (click)="change_page(false)" type="button"><span
                class="text-sm font-medium text-center text-gray-800 capitalize">Previous Step</span>
              </button>

              <button role="button" aria-label="Next step"
                      class="flex items-center justify-center py-4 px-7 focus:outline-none bg-white border rounded border-gray-400 mt-7 md:mt-14 hover:bg-gray-100  focus:ring-2 focus:ring-offset-2 focus:ring-gray-700"
                      *ngIf="current_step < max_step"
                      (click)="current_step ===2?[getRoute(),change_page(true)]:
                      current_step===4?[callSendDataToParent(), change_page(true)]:
                      change_page(true)" type="button"><span
                class="text-sm font-medium text-center text-gray-800 capitalize">Next Step</span></button>

              <button role="button" aria-label="Next step" [disabled]="!form.valid"
                      class="flex items-center justify-center py-4 px-7 focus:outline-none bg-white border rounded border-gray-400 mt-7 md:mt-14 hover:bg-gray-100  focus:ring-2 focus:ring-offset-2 focus:ring-gray-700"
                      *ngIf="current_step === max_step" type="submit" (click)="submitForm()"><span
                class="text-sm font-medium text-center text-gray-800 capitalize" >Confirm</span></button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
