<div [formGroup]="form" class="mx-auto bg-white dark:bg-gray-800 px-3">
  <div formGroupName="address_row">
    <div class="flex flex-col lg:flex-row p-4 lg:p-8 justify-end items-start lg:items-stretch w-full">
      <button type="button" (click)="addNewRow()"
              class="text-white ml-4 cursor-pointer focus:outline-none border border-transparent focus:border-gray-800 focus:shadow-outline-gray bg-indigo-700 transition duration-150 ease-in-out hover:bg-indigo-600 w-8 h-8 rounded flex items-center justify-center">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="28"
             height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
             stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z"/>
          <line x1="12" y1="5" x2="12" y2="19"/>
          <line x1="5" y1="12" x2="19" y2="12"/>
        </svg>
      </button>
    </div>
    <div class="w-full overflow-x-scroll xl:overflow-x-hidden">
      <table class="min-w-full bg-white dark:bg-gray-800">
        <thead>
        <tr class="w-full h-16 border-gray-300 border-b py-8">
          <th class="md:w-64 text-gray-600 dark:text-gray-400 font-normal pr-6 text-left text-sm tracking-normal leading-4 mx-auto">
            Street</th>
          <th class="md:w-64 text-gray-600 dark:text-gray-400 font-normal pr-6 text-left text-sm tracking-normal leading-4 mx-auto">
            City</th>
          <th class="md:w-64 text-gray-600 dark:text-gray-400 font-normal pr-6 text-left text-sm tracking-normal leading-4 mx-auto">
            Postal Code</th>
          <th class="md:w-64 text-gray-600 dark:text-gray-400 font-normal pr-6 text-left text-sm tracking-normal leading-4 mx-auto">
            Country</th>
          <th class="text-gray-600 dark:text-gray-400 font-normal pr-8 text-left text-sm tracking-normal leading-4 mx-auto">
            Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let _ of formArray.controls; let i = index;" [formGroupName]="i"
            class="border-b border-gray-300 h-24 ">
          <td
            class="text-sm pr-6 whitespace-no-wrap text-gray-800 dark:text-gray-100 tracking-normal leading-4 mx-auto">
            <input type="text" tabindex="0" formControlName="street" name="street" id="street" placeholder="ul. Nowa 23"
                   class="w-full p-3 mt-3 bg-gray-100 border rounded border-gray-200 focus:outline-none focus:border-gray-600 text-sm font-medium leading-none text-gray-800"/>
          </td>
          <td
            class="text-sm pr-6 whitespace-no-wrap text-gray-800 dark:text-gray-100 tracking-normal leading-4 mx-auto">
            <input type="text" tabindex="0" formControlName="city" name="city" id="city" placeholder="Warsaw"
                   class="w-full p-3 mt-3 bg-gray-100 border rounded border-gray-200 focus:outline-none focus:border-gray-600 text-sm font-medium leading-none text-gray-800"/>
          </td>
          <td
            class="text-sm pr-6 whitespace-no-wrap text-gray-800 dark:text-gray-100 tracking-normal leading-4 mx-auto">
            <input type="text" tabindex="0" name="postalCode" id="postalCode" placeholder="00-000"
                   class="w-full p-3 mt-3 bg-gray-100 border rounded border-gray-200 focus:outline-none focus:border-gray-600 text-sm font-medium leading-none text-gray-800"
                   formControlName="postalCode"/>
          </td>
          <td
            class="text-sm pr-6 whitespace-no-wrap text-gray-800 dark:text-gray-100 tracking-normal leading-4 mx-auto">
            <select tabindex="0" formControlName="country" name="country" id="country"
                    class="w-full p-3 mt-3 bg-gray-100 border rounded border-gray-200 focus:outline-none focus:border-gray-600 text-sm font-medium leading-none text-gray-800">
              <option *ngFor="let country of countries" [ngValue]="country">{{country}}</option>
            </select>
          </td>
          <td class="pr-8 relative mx-auto" *ngIf="formArray.length > 1" (click)="deleteRow(i)">
            <button
              class="text-red-500 p-2 border-transparent border bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 hover:bg-gray-200 cursor-pointer rounded focus:outline-none focus:border-gray-800 focus:shadow-outline-gray"
              href="javascript: void(0)">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon cursor-pointer icon-tabler icon-tabler-trash"
                   width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                   stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z"/>
                <line x1="4" y1="7" x2="20" y2="7"/>
                <line x1="10" y1="11" x2="10" y2="17"/>
                <line x1="14" y1="11" x2="14" y2="17"/>
                <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"/>
                <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"/>
              </svg>
            </button>
          </td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
