<div [formGroup]="form">
  <div class="md:flex items-center mt-4">
    <div class="md:w-64">
      <label class="text-sm leading-none text-gray-800" for="street">Address / Street</label>
      <input type="text" tabindex="0" formControlName="street" list="streets-datalist" name="street" id="street"
             placeholder="ul. Nowa 23"
             class="w-full p-3 mt-3 bg-gray-100 border rounded border-gray-200 focus:outline-none focus:border-gray-600 text-sm font-medium leading-none text-gray-800"/>
      <datalist id="streets-datalist">
        <option *ngFor="let address of addresses" [value]="address.street">{{ address.street }}, {{address.city}} </option>
      </datalist>
    </div>
    <div class="md:w-64 md:ml-12 md:mt-0 mt-4">
      <label class="text-sm leading-none text-gray-800" for="city">City</label>
      <input type="text" tabindex="0" formControlName="city" name="city" id="city" placeholder="Warsaw"
             class="w-full p-3 mt-3 bg-gray-100 border rounded border-gray-200 focus:outline-none focus:border-gray-600 text-sm font-medium leading-none text-gray-800"/>
    </div>
  </div>
  <div class="md:flex items-center  mt-8">
    <div class="md:w-64">
      <label class="text-sm leading-none text-gray-800" for="postalCode">Zipcode</label>
      <input type="text" tabindex="0" name="postalCode" id="postalCode" placeholder="00-000"
             class="w-full p-3 mt-3 bg-gray-100 border rounded border-gray-200 focus:outline-none focus:border-gray-600 text-sm font-medium leading-none text-gray-800"
             formControlName="postalCode"/>
    </div>
    <div class="md:w-64 md:ml-12 md:mt-0 mt-4">
      <label
        class=" text-sm leading-none text-gray-800" for="country">Country</label>
      <select tabindex="0" formControlName="country" name="country" id="country"
              class="w-full p-3 mt-3 bg-gray-100 border rounded border-gray-200 focus:outline-none focus:border-gray-600 text-sm font-medium leading-none text-gray-800">
        <option *ngFor="let country of countries" [ngValue]="country">{{country}}</option>
      </select>
    </div>
  </div>
</div>
