<div class="flex items-center justify-center">
  <div class="xl:w-10/12 w-full px-8">
    <form [formGroup]="form" (ngSubmit)="submitForm()" autocomplete="off">
    <app-stepper [currentStep]="current_step"></app-stepper>
    <div class="xl:px-24 mx-28">

        <div class="mt-16  lg:flex justify-between border-b border-gray-200 pb-16">
          <div class="w-80">
            <div class="flex items-center">
              <h1 tabindex="0" class="focus:outline-none text-xl font-medium pr-2 leading-5 text-gray-800">Personal Information</h1>
            </div>
            <p tabindex="0" class="focus:outline-none mt-4 text-sm leading-5 text-gray-600">Information about the section could go here and a brief description of how this might be used.</p>
          </div>
          <div formGroupName="client_section">
            <div  class="md:flex items-center lg:ml-24 lg:mt-0 mt-4">
              <div class="md:w-64">
                <label class="text-sm leading-none text-gray-800" for="name" >Company name</label>
                <ng-autocomplete  id="name" [data]="clients_name" [initialValue]="" formControlName="name"
                                 placeholder="Type Company Name" notFoundText="Not found" [itemTemplate]="itemTemplateStatic"
                                 [notFoundTemplate]="notFoundTemplate"></ng-autocomplete>
                <ng-template #itemTemplateStatic let-item><a [innerHTML]="item"></a></ng-template>
                <ng-template #notFoundTemplate let-notFound><div [innerHTML]="notFound"></div></ng-template>
                </div>
              <div class="md:w-64 md:ml-12 md:mt-0 mt-4">
                <label class="text-sm leading-none text-gray-800" or="tax_number">Tax Number</label>
                <input type="text" tabindex="0" class="w-full p-3 mt-3 bg-gray-100 border rounded border-gray-200 focus:outline-none focus:border-gray-600 text-sm font-medium leading-none text-gray-800"  formControlName="tax_number" name="tax_number" id="tax_number" placeholder="0000000000" />
              </div>
            </div>
            <div class="md:flex items-center lg:ml-24 mt-8">
              <div class="md:w-64">
                <label class="text-sm leading-none text-gray-800" for="email">Email address</label>
                <input type="email" tabindex="0" class="w-full p-3 mt-3 bg-gray-100 border rounded border-gray-200 focus:outline-none focus:border-gray-600 text-sm font-medium leading-none text-gray-800" formControlName="email" name="email" id="email" placeholder="youremail@example.com" />
              </div>
              <div class="md:w-64 md:ml-12 md:mt-0 mt-4">
                <label class="text-sm leading-none text-gray-800" for="phone" >Phone number</label>
                <input type="text" tabindex="0" class="w-full p-3 mt-3 bg-gray-100 border rounded border-gray-200 focus:outline-none focus:border-gray-600 text-sm font-medium leading-none text-gray-800" formControlName="phone" name="phone" id="phone" placeholder="123-1234567" />
              </div>
            </div>
          </div>
        </div>
        <div class="mt-16 lg:flex justify-between border-b border-gray-200 pb-16">
          <div class="w-80">
            <div class="flex items-center">
              <h1 tabindex="0" class="focus:outline-none text-xl font-medium pr-2 leading-5 text-gray-800">Security</h1>
            </div>
            <p tabindex="0" class="focus:outline-none mt-4 text-sm leading-5 text-gray-600">Information about the section could go here and a brief description of how this might be used.</p>
          </div>
          <div>
            <div class="md:flex items-center lg:ml-24 lg:mt-0 mt-4">
              <div class="md:w-64">
                <label class="text-sm leading-none text-gray-800" id="password">Password</label>
                <input type="name" tabindex="0" class="w-full p-3 mt-3 bg-gray-100 border rounded border-gray-200 focus:outline-none focus:border-gray-600 text-sm font-medium leading-none text-gray-800" aria-labelledby="password" placeholder="Enter your password" />
              </div>
              <div class="md:w-64 md:ml-12 md:mt-0 mt-4">
                <label class="text-sm leading-none text-gray-800" id="securityCode">Security Code</label>
                <input type="name" tabindex="0" class="w-full p-3 mt-3 bg-gray-100 border rounded border-gray-200 focus:outline-none focus:border-gray-600 text-sm font-medium leading-none text-gray-800" aria-labelledby="securityCode" placeholder="Enter your security code" />
              </div>
            </div>
            <div class="md:flex items-center lg:ml-24 mt-8">
              <div class="md:w-64">
                <label class="text-sm leading-none text-gray-800" id="recoverEmail">Recovery Email address</label>
                <input type="name" tabindex="0" class="w-full p-3 mt-3 bg-gray-100 border rounded border-gray-200 focus:outline-none focus:border-gray-600 text-sm font-medium leading-none text-gray-800"  placeholder="Your recovery email" />
              </div>
              <div class="md:w-64 md:ml-12 md:mt-0 mt-4">
                <label class="text-sm leading-none text-gray-800" id="altPhone">Alternate phone number</label>
                <input type="name" tabindex="0" class="w-full p-3 mt-3 bg-gray-100 border rounded border-gray-200 focus:outline-none focus:border-gray-600 text-sm font-medium leading-none text-gray-800" aria-labelledby="altPhone" placeholder="Your alternate phone number" />
              </div>
            </div>
          </div>
      </div>
      <div class="mt-2 lg:flex justify-between border-b border-gray-200">
        <div class="w-80"></div>
        <div class="md:flex items-center lg:ml-24">
          <div *ngIf="!last_page"
               class="fixed bottom-0 w-screen left-0 p-5 text-base flex justify-between bg-neutral-white xl:relative xl:p-0 xl:mb-5 xl:min-w-[28.125rem] xl:max-w-[28.125rem]"
               [ngClass]="{ 'flex-row-reverse': current_step === 1 }">

            <button role="button" aria-label="Previous step"
                    class="flex items-center justify-center py-4 px-7 focus:outline-none bg-white border rounded border-gray-400 mt-7 md:mt-14 hover:bg-gray-100  focus:ring-2 focus:ring-offset-2 focus:ring-gray-700"
                    *ngIf="current_step >= 2" (click)="change_page(false)" type="button"><span
              class="text-sm font-medium text-center text-gray-800 capitalize">Previous Step</span>
            </button>

            <button role="button" aria-label="Next step"
                    class="flex items-center justify-center py-4 px-7 focus:outline-none bg-white border rounded border-gray-400 mt-7 md:mt-14 hover:bg-gray-100  focus:ring-2 focus:ring-offset-2 focus:ring-gray-700"
                    *ngIf="current_step < max_step" (click)="change_page(true)" type="button"><span
              class="text-sm font-medium text-center text-gray-800 capitalize">Next Step</span></button>

            <button role="button" aria-label="Next step"
                    class="flex items-center justify-center py-4 px-7 focus:outline-none bg-white border rounded border-gray-400 mt-7 md:mt-14 hover:bg-gray-100  focus:ring-2 focus:ring-offset-2 focus:ring-gray-700"
                    *ngIf="current_step === max_step" type="submit"><span
              class="text-sm font-medium text-center text-gray-800 capitalize">Confirm</span></button>
          </div>
        </div>
      </div>



    </div>
    </form>
  </div>
</div>
