<app-modal *ngIf="this.modalService.getVisibility()"></app-modal>
<div class="container mx-auto">
  <app-spinner *ngIf="this.loaderService.getLoading(); else contentBlock"></app-spinner>
  <ng-template #contentBlock>

    <table class="w-full bg-white shadow-md rounded my-4">

      <thead>
      <tr class="bg-gray-200">
        <th class="text-left py-3 px-4 font-semibold uppercase">Cargo Type</th>
        <th class="text-left py-3 px-4 font-semibold uppercase">Amount</th>
        <th class="text-left py-3 px-4 font-semibold uppercase">Trailer</th>
        <th class="text-left py-3 px-4 font-semibold uppercase">Truck</th>
        <th class="text-left py-3 px-4 font-semibold uppercase">Driver</th>
        <th class="text-left py-3 px-4 font-semibold uppercase">Address</th>
        <th class="text-left py-3 px-4 font-semibold uppercase">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let s of this.sets">

        <td class="border-t px-4 py-3">
          <p class="text-gray-700">{{s.cargo.name}}</p>
        </td>
        <td class="border-t px-4 py-3">
          <p class="text-gray-700">{{s.amount}} {{s.cargo.unit}}</p>
        </td>
        <td class="border-t px-4 py-3">
          <p class="text-gray-700">{{s.trailer.plate}} ({{s.trailer.carrying_capacity}} {{s.cargo.unit}})</p>
        </td>
        <td class="border-t px-4 py-3">
          <p class="text-gray-700">{{s.truck.plate}}</p>
        </td>
        <td class="border-t px-4 py-3">
          <select class="border rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-200">
            <option *ngFor="let d of this.drivers.get(s.cargo.required_licence)" [ngValue]="d">{{d.name}}</option>
          </select>
        </td>
        <td class="border-t px-4 py-3">
          <select class="border rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-200">
            <option *ngFor="let d of this.addresses" [ngValue]="d">{{d.street}}, {{d.city}}</option>
          </select>
        </td>
        <td class="border-t px-4 py-3">
          <select class="border rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-200">
            <option  [ngValue]="'pickup'">Pickup</option>
            <option  [ngValue]="'drop'">Drop</option>
          </select>
        </td>
      </tr>
      </tbody>
    </table>
  </ng-template>
</div>
