<section tabindex="0" aria-label="form" class="focus:outline-none w-full bg-white p-10 flex items-center justify-center">
  <div class="md:flex items-center border-b pb-6 border-gray-200">
    <div *ngFor="let item of steps | keyvalue" class="flex items-center md:mt-0 mt-4 md:ml-12">
      <div  class="w-8 h-8 bg-gray-100 rounded flex items-center justify-center" [ngClass]="{' bg-indigo-700':currentStep === item.key}">
        <p  tabindex="0" class="focus:outline-none text-base font-medium leading-none text-gray-800" [ngClass]="{'text-white':currentStep === item.key}">{{ item.key }}</p>
      </div>
      <p  tabindex="0" class="focus:outline-none text-base ml-3 font-medium leading-4 text-gray-800">
        {{ item.value }}
      </p>
    </div>
  </div>
</section>
